//New base button for redesign


.btn,
button{
    color: $color-white;
    display: inline-block;
    background: $color-green;
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none;
    @include font-size(1);

    &.btn-block{
        width: 100%;
    }

    &.ghost{
      background: $color-white;
      color: $color-blue;
      border: 1px solid transparent;
      border-radius: 30px;
      //margin-right: 40px;

      &:hover{
        background: $color-blue;
        color: $color-white;
        border: 1px solid $color-white;
      }
    }

    &.btn--disabled{
        background: $color-disabled;
        cursor: default;
    }
}


.btn.pri {
  border-radius: 50px;
  text-transform: none;
  @include font-gotham-book;
  font-weight: bold;
  width: auto;
}
