//Base defaults and helpers
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    @include font-gotham-book;
    color: $color-text-heading;
}

.container{
    display: block;
    max-width: 100%;
    margin: 0 auto 0 auto;
    position: relative;
    padding: $section-spacing 0;
}

.link--primary,
.link--navigation {
    @include default-link-styles('light');
}

.link--primaryDarkBg {
    @include default-link-styles('dark');
}

.link--secondary {
    @include default-link-styles('light', 'secondary');
}

.heading--primary {
    @include heading('primary');
    color: $color-text-heading;
}

.heading--secondary {
    @include heading('secondary');
    color: $color-text-heading;
}

.heading--tertiary {
    @include heading('tertiary');
    color: $color-text-heading;
}

.heading-link{
    text-decoration: none;
    color: inherit;
}

//resets overflow value on devices wider than an average mobile device to hide scroll bars
@include media ($mq-small){
    .main{
        overflow:hidden;
    }
}

//Disabling input zoom shenanigans on mobile devies
@include media ($mq-xsmall){
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus, select:focus,
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover,
    textarea:focus, select:hover {
        @include font-size(1);
    }
}

@include media ($mq-small){
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus, select:focus,
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover,
    textarea:focus, select:hover {
        @include font-size (0.875);
    }
}

//Resets list into dumb containers
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
