/************** TYPOGRAPHY *************/


//Base styles for paragraphs and inline quotations
p{
    @include font-size(1);
		line-height:1.5;
    text-align:left;
    word-break:normal;
    margin: 0;

		> q{
			font-style:italic;
			quotes: "\201C" "\201D" "\2018" "\2019";

			&:before { content: open-quote; }
			&:after { content: close-quote; }
		}

		> q:lang(fr){
			font-style:italic;
			quotes: "\00AB" "\00BB" "\201C" "\201D";

			&:before { content: open-quote; }
			&:after { content: close-quote; }
		}

        + p{
            margin-top: $padding-section;
        }
    }

dt{font-weight:bold;}

dd{margin: 0 0 10px 10px;

	> p{margin:0px;}
}

dfn{font-style:italic;}


//Text-level semantic styles
 code, pre {
    font-family: "Courier New", Courier, Monospace;
    @include font-size(.875);
}

strong{
    @include font-size(.875);
}

 small{
    @include font-size(.75);
    font-style:italic;
}

cite{font-style:italic;}

 dfn,
 abbr{
    border-bottom:1px dotted #545454;
    cursor:help;
}

 mark{
    background:#fefebb;
    padding:0 2px;
}

.disabled-link{
	cursor: not-allowed;
	color: $color-disabled;
}
