.list{
    @include list;
}

.color{
    height: 200px;
    width: 220px;
    border: 1px solid $grey-light;
    position: relative;

    p{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: $space-default;
        background: $color-white;
    }

    &.color-1{background: $color-green;}
    &.color-2{background: $color-blue;}
    &.color-3{background: $color-purple;}
    &.color-4{background: $color-pink;}
    &.color-5{background: $color-orange;}
    &.color-6{background: $color-green-neon;}
    &.color-7{background: $color-white;}
    &.color-8{background: $grey-dark;}
    &.color-9{background: $grey;}
    &.color-10{background: $grey-steel;}
    &.color-11{background: $grey-ghost;}
}

.sg-colour{
    display: flex;
    flex-wrap: wrap;

     > * {
        flex: 1 0 25vw;
        margin: $space-default;
    }
}

.product-block-container{
    @include clearfix;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-block{
  display: flex;
  flex: 1 0 30vw;
  flex-direction: column;
  justify-content: space-around;
  float: left;
  border: 1px solid $grey;
  padding: 0 20px 20px 20px;
  margin: 10px 10px 10px 0;

  > p{
      @include font-size(0.8125);
  }
}

.highlight{
    display: inline-block;
    background: $grey-dark;
    color: $color-white;
    padding: $space-default;
    width: auto;
}

