.sidebar-block,
.sidebar-ad-block {
	padding: $padding-section;
}
.sidebar-block {
	border-top: 1px solid $color-border;
	margin-bottom: $sidebar-spacing;
	&:first-child {
		border-top: none;
	}

	//sidebar block with no border and no padding. Content is flush with the container.
	&.sidebar-clean{
		background: #fff;
		padding: $padding-section 0 0 0;
	}
}

.sidebar-list {
	margin: 0;
	padding: 0;
}

.sidebar-grid .sidebar-item{
	margin-bottom: 0;
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.sidebar-grid .sidebar-content-heading{
	@include span-columns(5 of 12);
	font-weight: normal;
}

.sidebar-grid .sidebar-content-group{
	@include span-columns(7 of 12);
	@include omega;
	float: right;
}

.sidebar-item {
	@include clearfix;
	list-style-type: none;
	margin-bottom: $sidebar-spacing;

	.sidebar-clean &{
		border-bottom: 1px solid $color-border;
	}
}

.sidebar-sub-item {
	display: inline-block;
}

.sidebar-content-heading {
	display: block;
	font-weight: bold;
}

.sidebar-sub-heading{
	display: block;
	margin-bottom: $space-default;
}

.sidebar-block-heading {
	@include heading('tertiary', $padding: 0 0 $header-spacing 0);
	color: $color-text-heading;

	.sidebar-clean &{
		padding-bottom: $space-default;
	}
}
.sidebar-link {
	@include default-link-styles('light');
	@include hyphenate;
}

@include media($mq-small) {
	.sidebar-block,
	.sidebar-ad-block {
		background: $color-background-grey;
		padding: $sidebar-spacing;
	}

	.sidebar-block {
		border: none;
		border-left: 5px solid $color-primary-green;

		&.sidebar-borderless,
		&.sidebar-clean{
			border-left: none;
		}
	}
}
