////////////////////////////////////////
////////////  Breakpoints ///////////////
////////////////////////////////////////
$max-width: 1240px;
$mq-small: new-breakpoint(min-width 768px 12);
$mq-medium: new-breakpoint(min-width 960px 12);
$mq-tabby: new-breakpoint(min-width 1024px 12);
$mq-large: new-breakpoint(min-width 1240px);

//////////////////////////////////////
// The Breakpoints below should only 
// be used in special circumstances
//////////////////////////////////////
$mq-xsmall: new-breakpoint(min-width 320px 12);
$mq-small-height: new-breakpoint(max-width 340px max-height 480px 12);
$mq-small-landscape: new-breakpoint(max-height 375px 12);


//////////////////////////////////////
//Offical New Colours - Late 2016 ////      
//////////////////////////////////////
$color-green: #39822b;
$color-blue: #007ac9;
$color-purple: #850057;
$color-pink: #d10074;
$color-orange: #cf4829;
$color-green-neon: #69be28;
$color-white: #ffffff;

//Blacks & Greys
$grey-dark: #25282e;
$grey: #525967;
$grey-light: #caced4;
$grey-steel: #e5e8ea;
$grey-ghost: #f2f4f5;

//Brands and such
$color-social-fb: #3b5998;


/////////////////////////////
/// SPACINGS AND DEFAULTS ///
////////////////////////////


// Headings
$fontSize-heading--primary: 1.875; //35px
$fontSize-heading--secondary: 1.5625; //25px
$fontSize-heading--tertiary: 1.125; //18px
$fontSize-heading--quaternary: 1; // 16px

// Spacing and widths
$space-default: 10px;
$padding-section: 20px;
$thumbnail-width: 200px;
$ribbon-spacing: 50px 0;

$container-spacing: 100px;
$section-spacing: 60px;
$content-spacing: 50px;
$content-spacing--small: 20px;
$header-spacing: 35px;
$sidebar-spacing: 25px;

$nav-height: 70px;





///////////////////////////////////////////
/// Old colour variables have been mapped
/// to our new colour pallete. Do not change
/// any of these values. 
/////////////////////////////////////////// 
$color-primary-green: $color-green;
$color-primary-darkgreen: $color-green;
$color-primary-blue: $color-blue;

$color-secondary-yellowgreen: $color-green-neon;
$color-secondary-grassgreen: $color-green;
$color-secondary-darkergreen: $color-green;
$color-secondary-darkblue: $color-blue;
$color-secondary-lightblue: $color-blue;
$color-secondary-darkteal: $color-blue;
$color-secondary-lightteal: $color-blue;

$color-tertiary-burntorange: $color-orange;
$color-tertiary-orange: $color-orange;
$color-tertiary-hotpink: $color-pink;
$color-tertiary-darkpink: $color-pink;
$color-tertiary-purple: $color-purple;

$color-black: $grey-dark;
$color-dark-grey: $grey-dark;
$color-light-grey: $grey-light;
$color-icon-grey: $grey;
$color-background-grey: $grey-ghost;
$color-blue-grey: $grey;
$color-background: $grey-ghost;

//Colours - B2B Redesign
// Text colours
$color-text-green: $color-green;
$color-text-dark: $grey-dark;
$color-text-light: $grey;
$color-text-sluggish: $grey; //see Aurelie if not happy :)
$color-text-darkbg: $grey-steel;
$color-text-heading: $grey-dark;
$color-white: $color-white;
$color-black: $grey-dark;
$color-highlight: $color-pink;
$color-disabled: $grey-light;
$color-border: $grey-light;;
$color-nav-item: $grey-dark;
$color-nav-link: $color-green;
$color-text-error: $color-orange;
$color-text-medium-grey: $grey;

// Background colours
$color-background-grey: $grey-ghost;
$color-background-lightgrey: $grey-steel;
$background-color-menu: $grey-ghost;
$background-color-dark: $grey-dark;
$background-color-copyrigh: $grey-dark;
$background-color-messages: $color-purple;