<section class="contact-us container">
  <div class="block">
    <h1><q>I'm still not quite sure what I need.</q></h1>
    <p>
      If that's you, we can help.
    </p>
    <p>
      <a class="btn ghost"href="http://hiring.workopolis.com/find-out-more/?title=Have+us+call+you&NetsuiteTitle=Job+Postings">Have us call you</a>
      <a class="btn ghost"href="http://hiring.workopolis.com/find-out-more/?title=Have+us+call+you&NetsuiteTitle=Job+Postings">Chat live</a>
    </p>
    <p>
      <strong><a class="link link-white" href="tel:1-888-641-4047">Give us a call at 1-888-641-4047</a></strong>
    </p>
  </div>
</section>
