<head lang="{{ page.language }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7721754/804146/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.symbolset.com/8ce9ce30e75d16a8632f42cd903347a1e34beccf/symbolset.css" />
  <link rel="stylesheet" href="/assets/css/base.css">
<script type="text/javascript">
            if (document.cookie.indexOf("fonts-loaded") >= 0) {
                document.documentElement.className += " fonts-loaded";
                console.log('you should have our fonts cached');
            }
        </script>
</head>
