<aside class="side-nav">
  <button class="menu js-menu-close">Close</button>

  <nav>
    <ul>
      <li>
        <a href="/_worko/">Installation</a>
        <ul>
          <li>
            <a href="/_worko/build">Build options</a>
          </li>
          <li>
            <a href="/_worko/build#admin">Admin UI</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/_worko/liquid">Liquid Templates</a>
      </li>
      <li>
        <a href="/_worko/collections">Collections</a>
        <ul>
          <li>
            <a href="/_worko/collections#create-collection">Creating new collection</a>
          </li>
          <li>
            <a href="/_worko/collections#reference-collection">Referencing collection data</a>
          </li>
          <li>
            <a href="/_worko/collections#single-collection">Referencing a single item in a collection</a>
          </li>
          <li>
            <a href="/_worko/collections#group-collection">Referencing groups in a collection</a>
          </li>
          <li>
            <a href="/_worko/collections#language-collections">Referencing collection data by language</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/_worko/language">Language and Translations</a>
      </li>
    </ul>
  </nav>
</aside>
