.block{
  @include fill-parent;
  @include clearfix;
  clear: left;
}

.post .block-hero{
  background: $color-blue;
}

.block-feature{
  width: inherit;
  padding-bottom: $section-spacing;
  background: $grey-ghost;
}



.block-recruitment{
  background-image: url('/images/applicant-manager-screenshot-bg.jpg' );
  background-repeat: no-repeat;
  height: 600px;
  background-color: $color-blue;
  background-size: contain;;
  background-position: right;

  padding: 20px 60px 20px 160px;

  h4{
    color: $color-white;
    @include heading(primary);
    width: 35%;
  }

  p{
    color: $color-white;
    width: 30vw;
  }

  ul{
    @include list;
    margin-top: $header-spacing;
    color: $color-white;
    width: 30vw;
  }
}

.block-products{
    background: $grey-ghost;
}

.block-products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2{
    @include heading(primary);
    flex: 0 0 100%;
    padding: 0 $container-spacing;
  }

  .product{
    display: flex;
    flex-direction: column;
    padding: $padding-section;
    flex: 0 0 30%;
    border: 1px solid $grey-light;
    background: $color-white;
    margin: 0 20px;

    .btn{
      margin-top: 50px;
      width: 100%;
      text-align: center;
      align-self: flex-end;
    }
  }

}
