.block{
  @include fill-parent;
  @include clearfix;
  clear: left;
}

.post .block-hero{
  background: $color-blue;
}

.block-feature{
  width: inherit;
  padding-bottom: $section-spacing;
  background: $grey-ghost;
}

.block-recruitment{
  background-image: url('/images/applicant-manager-screenshot-bg.jpg' );
  background-repeat: no-repeat;
  height: 600px;
  background-color: $color-blue;
  background-size: contain;;
  background-position: right;

  padding: 20px 60px 20px 160px;

  h4{
    color: $color-white;
    @include heading(secondary);
    width: 35%;
  }

  p{
    color: $color-white;
    width: 30vw;
  }

  ul{
    @include list;
    margin-top: $header-spacing;
    color: $color-white;
    width: 30vw;
  }
}
