/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

html,
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

body.menu-is-active{
  background: rgba(0,0,0,.4);
}

:target {
  padding-top: 65px;
  margin-top: -65px;
}

h2{
  margin-top: 65px;
}

.header{
  position: fixed;
  height: 60px;
  background: #007ac9;
  width: 100%;
  top: 0;
  padding: 0 20px;

  h1{
    color: #fff;
    padding: 0 20px;
    line-height: 60px;
    margin: 0;
    font-size: 1.2rem;
  }
}

.worko-logo-container{
  margin-top: 10px;
  display: block;
  height: 40px;
  width: 60px;
  float: left;
}

.worko-logo{
  height: 100%;
  width: 100%;

  .letter, .worko-logo-skyline path{
    fill: #fff;
  }

}

.worko-logo{
  width: 150px;
  transition: width .2s ease;
  display: block;
  margin: 0 auto;
}

.letter:not(.worko-logo-w){
  transition: opacity .3s linear;
  opacity: 1;
}

.worko-logo-w{
  transform: translateY(0) scale(1) translateX(0);
  transition: transform .4s ease-in-out;
}

.worko-logo-skyline{
  transform: translateY(0) scale(1) translateX(0);
  transition: transform .4s ease-in-out;
}


@media screen and (max-width: 780px){
  body{
    //background: #ccc;
  }



  .worko-logo{
    width: 40px;
  }

  .worko-logo-skyline{
    transform: scale(1);
  }

  .worko-logo-w{
    transform: translateY(-1495px) scale(5.4) translateX(-420px);
  }

  .letter:not(.worko-logo-w){
    opacity: 0;
  }

  .worko-logo-skyline{
    transform: translateY(-440px) scale(2.2) translateX(-630px);
  }
}


.main{
  margin-top: 60px;
}

.side-nav{
  transform: translateX(-300px);
  transition: transform .2s ease-in-out;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #f2f4f5;

  &.is-active{
    transform: translateX(0);
  }

  ul{
    list-style: none;

    li{
      line-height: 1.5;
      font-weight: 600;

      a{
        color: #007ac9;

        &:hover{
          font-weight: 600;
        }
      }

      + li{
        margin-top: 10px;
      }
    }

    ul{
      padding: 10px 15px;
      font-size: 80%;
    }
  }
}

.container{
  padding: 20px 20px 0 20px;
  transition: padding .2s ease-in-out;
}

.contents{
  max-width: 740px;
  margin: 0 auto;
}

a{
  color: #007ac9;
  font-weight: 500;
}

figure{
  margin: 0;
}

code{
  background: #dcdcdc;
  padding: 0 3px;
}

pre{
  width: 100%;
}

pre code{
  white-space: pre-wrap;
  width: 100%;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background: #25282e;
  color: #f2f4f5;
}

.product-block-container{
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-between;
  //margin-bottom: 80px;
}

.product-block{
  flex: 0 0 27%;
}

.product{
  width: 230px;
  display: inline-block;
  background: #f2f4f5;
  padding: 15px 10px;
  margin: 10px;
}

.menu{
  -webkit-appearance: none;
  border: 1px solid #007ac9;
  background: #f2f4f5;
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: 600;
  margin: 20px;
  color: #007ac9;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .worko-logo-container{
    width: 150px;
  }

  .header h1{
    font-size: 2rem;
  }

  .side-nav{
    transform: translateX(0);
    transition: transform .2s ease-in-out;
  }

  .container{
    padding: 20px 20px 0 320px;
    transition: padding .2s ease-in-out;
  }

  .menu{
    display: none;
  }
}
