---
layout: speed
title: Workopolis | Post A Job
permalink: /post-a-job/
---

<main class="main post">

    <section class="container block-hero">
      <div class="block block-hero-container">
        <h1>Job Postings that work</h1>
        <p>Posting are powered to reach thousands of people looking for work at a company like yours. So you can  find the best person for the job.</p>
        <a class="btn" href="/">Get started - Post a job TODAY</a>
      </div>
    </section>


    <section class="container block-feature">
      <div class="block feature-container">
        {% for feature in site.data.posting_features %}
        <div class="feature-block">
          <img src="/images/{{feature.imgurl}}" alt="{{feature.title}}" />
          <h4>{{feature.title}}</h4>
          <p>{{feature.shortdesc}}</p>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="container block-recruitment">
      <div class="block block-recruitment-container">
        <h4>Recruitment Centre - The ATS for the Rest of Us</h4>
        <P>Applicant Manager is our handy tool included with every job posting. Recruit anywhere, anytime and rate and screen applicants from any device.</P>
        <ul>
          <li>
            Sort through qualified applicants and easily rate talent.
          </li>
          <li>
            A sleek resume view lets you screen candidates easily.
          </li>
          <li>
            Status markers let you track an applicant from screened to hired.
          </li>
        </ul>
      </div>
    </section>

    <section class="container block-products">
      <div class="block block-products-container">
        <h2>Post a job that does everything you want it to. And then some.</h2>

        {% assign video = site.products | where: "shortname", "video"  | first %}
        <div class="product">
          <h3>{{ video.title}}</h3>
          <p>{{ video.short-description }}</p>
          <a class="btn" href="{{ video.link }}">Buy now for {{ video.price}}</a>
        </div>

        {% assign niche = site.products | where: "shortname", "niche"  | first %}
        <div class="product">
          <h3>{{ niche.title}}</h3>
          <p>{{ niche.short-description }}</p>
          <a class="btn" href="{{ niche.link }}">Buy now for {{ niche.price}}</a>
        </div>
      </div>
    </section>

    {% include contact_us.html %}
</main>
